.loading {
  display: flex;
  justify-content: center;
}

@keyframes bounce {
  to {
    opacity: 0.3;
    transform: translate3d(0, -1rem, 0);
  }
}

.load {
  width: 1rem;
  height: 1rem;
  margin: 2rem 0.1rem;
  background: #0B0D2B;
  border-radius: 50%;
  animation: 0.9s bounce infinite alternate;
}

.load:nth-child(2) {
  animation-delay: 0.3s;
}

.load:nth-child(3) {
  animation-delay: 0.6s;
}